<div id="trakingArchivo" class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br />
    <h5>Cliente: {{cliente}} </h5>
    <h5>Fecha: {{date}}</h5>
    <br />
    <!-- --- Tabla de Pagos y Montos recibidos --- -->
    <div class="card mt-3">
        <div class="card-body">
            <div class="rowTi">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-striped table-hover">
                        <caption></caption>
                    <thead>
                        <tr>
                        <th scope="col" class="text-center3">{{'T.PR' | translate}}</th> <!-- Constante debe cambiar en la referencia al es.json -->
                        <th scope="col" class="text-center3">{{'T.MR' | translate}}</th> <!-- Constante debe cambiar en la referencia al es.json -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center3">{{title?.totPagosRecib}}</td>
                            <td class="text-center3">{{title?.totMontRecib}}</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- --- Tabla de estatus Izquierda --- -->
    <div class="divide">
        <div class="row">
            <table class="table table-striped table-hover">
                <caption></caption>
                <thead>
                    <tr>
                    <th scope="col" class="text-center">{{'EA' | translate}}</th> <!-- Constante debe cambiar en la referencia al es.json -->
                    <th scope="col" class="text-center">{{'TT' | translate}}</th> <!-- Constante debe cambiar en la referencia al es.json -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dato of content">
                        <td class="text-center">{{dato.estatus}}</td>
                        <td class="text-center"><a class="color" (click)="tablaArchivoData(dato)">{{dato.total}}</a></td>
                    </tr>
                    <ng-template #noHayInformación>
                        <tr>
                            <td class="text-center" colspan="12"> {{'noResult'| translate}} </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
        <div  class="row2">
            <div  width="200px" height="200px">
                <canvas  id="MyChart2">{{ chart2 }}</canvas>
            </div>
        </div>
    </div>
    <!-- --- Seccion de Busqueda --- -->
    <div class="card">
        <h5 class="card-header justify-content-center"> {{'BNA'| translate}} </h5>
        <div class="card-body">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form [formGroup]="formSearch" class="dis">
                    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-2 offset-1">
                        <label for="producto" class="col-form-label">{{'producto'| translate}}</label>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 estilo">
                        <input type="text" class="form-control estilo" id="producto" formControlName="producto"
                        appInputMask="productoTrakin" size="60" maxlength="60">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-2 offset-1">
                        <label for="divisa" class="col-form-label">{{'divisa'| translate}}</label>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 estilo">
                        <input type="text" class="form-control estilo" id="divisa" formControlName="divisa"
                        appInputMask="divisaTrakin" size="60" maxlength="60">
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 estilo">
                        <button type="button" class="btn btn-outline-primary" (click)="buscarArchivo()">{{'btn.buscar' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- --- Tabla de estatus Izquierda --- -->


        <div class="card mt-3"  *ngIf="banderaHasRows">
            <div class="card-body">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="table table-striped table-hover">
                            <caption></caption>
                            <thead>
                                <tr>
                                    <th scope="col"  rowspan="4" class="text-center">{{'Producto' | translate}}</th> <!-- Constante debe cambiar en la referencia al es.json -->
                                    <th scope="col" class="text-center">{{'Divisa' | translate}}</th> <!-- Constante debe cambiar en la referencia al es.json -->
                                    <th scope="col" class="text-center">{{'Total de operaciones' | translate}}</th> <!-- Constante debe cambiar en la referencia al es.json -->
                                    <th scope="col" class="text-center">{{'Recibo' | translate}}</th> <!-- Constante debe cambiar en la referencia al es.json -->
                                    <th scope="col" class="text-center">{{'Rechazado' | translate}}</th> <!-- Constante debe cambiar en la referencia al es.json -->
                                    <th scope="col" class="text-center">{{'Correcto' | translate}}</th> <!-- Constante debe cambiar en la referencia al es.json -->
                                    <th scope="col" class="text-center">{{'En proceso' | translate}}</th> <!-- Constante debe cambiar en la referencia al es.json -->
                                    <th scope="col" class="text-center">{{'Procesado' | translate}}</th> <!-- Constante debe cambiar en la referencia al es.json -->

                                </tr>
                            </thead>

                            <tbody>
                                <ng-container *ngIf="banderaHasRows; then templateFillTable; else templateEmptyTable5">
                                </ng-container>
                                <ng-template #templateFillTable>
                                    <ng-container class="table" *ngFor="let dato of datos"> <!-- Tratamiento de los datos puede variar -->
                                        <tr >
                                            <td class="tipo produc">
                                                <a class="color" (click)="archivo(dato.archivos)">{{dato.api.producto}}</a>
                                            </td>
                                            <td class="text-center">{{dato.api.divisa}}</td>
                                            <td class="text-center">{{dato.api.totalOperaciones}}</td>
                                            <td class="text-center">{{dato.api.recibo}}</td>
                                            <td class="text-center">{{dato.api.rechazado}}</td>
                                            <td class="text-center">{{dato.api.correcto}}</td>
                                            <td class="text-center">{{dato.api.inProgress | currency}}</td>
                                            <td class="text-center">{{dato.api.procesado | currency}}</td>
                                        </tr>
                                    </ng-container>
                                </ng-template>
                                <ng-template #templateEmptyTable5>
                                    <tr>
                                        <td class="text-center" colspan="12">{{'administracion.productos.periodo.Nodata' | translate}}</td> <!-- Funcionalidad incierta probablemente un pie de página? -->
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="rot">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1">
                    <div class="d-flex justify-content-center" *ngIf="banderaHasRows">
                        <pagination [boundaryLinks]="showBoundaryLinksArchivo"
                            [directionLinks]="showDirectionLinksArchivo"
                            [totalItems]="totalElements"
                            [itemsPerPage]="rowsPorPagina"
                            [maxSize]="rowsPorPagina"
                            [(ngModel)]="page" previousText="&lsaquo;" nextText="&rsaquo;"
                            firstText="{{'paginador.inicio' | translate}}"
                            lastText="{{'paginador.fin' | translate}}"
                            (pageChanged)="onPageChanged($event)">
                        </pagination>

                    </div>
                </div>
            </div>
        </div>

        <div class="rof mt-2">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
                <button type="button" class="btn btn-danger" (click)="regresar()">{{'btn.regresar' | translate}}</button>
            </div>
            <!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
                <button type="button" class="btn btn-danger"  [disabled]="!banderaBtnExportar" (click)="exportar2()">{{'btn.exportar' | translate}}</button>
            </div>-->
        </div>
        <div class="rof mt-2">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
                <button type="button" class="btn btn-danger" (click)="refrescar()">{{'menu.monitoreo.comprobantesFormatoCDMX.btn.refrescar' | translate}}</button>
            </div>
        </div>
</div>
